#content {
    width: auto;
    max-width: 960px;
    min-width: 800px;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    text-align: left;
    /* border:1px solid #777; */
    background-color: white;
    box-shadow: 0px 1px 5px #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 10.5pt;
    /* line-height: 2; */
    -webkit-text-size-adjust: none;
}